@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing :border-box;
    margin: 0;
}

body{
    margin:0;
    font-family: Roboto, sans-serif;
    color: lightgrey;
}

/*Header*/

header{
    background-color: black;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 50px;
}

/*Main section*/

main {
    background-color:black;
    background-image: url("img/chess-knights-background.jpg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 75vh;
    padding:10px;
    width: 100vw;  
}


/*Footer*/

footer {
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin-left: 12px;
    font-size: 12px;
}

footer img{
    height: 20px;
}