/*Instructions step*/

#instructions{
    display: flex;   
    flex-direction: column;
    justify-content: flex-start; 
}

@media screen and (max-height: 500px) {
    #instructions {
    flex-direction: row;   
    }

    .instruction {
       font-size: 12px;
    }

    #instructions h2{
        font-size: 14px; 
     }
    
    #instructions button{
        margin-left: 20px;
    }
}

.instruction {
    list-style: none;
    display:flex;
    align-items: center;
    background-color: rgba(0,0,0,0.4); 
    border-radius: 30px;
};

.instruction img{
   width: 40px;
   margin: 10px;
}

#instructions button{
    margin-top: 20px;
}
